
<hr />


<div class="form-group">
    <div class="control-label col-md-2"> Add main photo </div>
    <div class="col-md-10">
        @*<label for="file'+ i +'" class="btn">Add @if (i == 0) { <span> main </span> }photo</label>*@
        <input id="file0" type="file" name="upload0" accept="image/*" />
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2"> Add photo </div>
    <div class="col-md-10">
        @*<label for="file'+ i +'" class="btn">Add @if (i == 0) { <span> main </span> }photo</label>*@
        <input id="file1" type="file" name="upload1" accept="image/*" />
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2"> Add photo </div>
    <div class="col-md-10">
        @*<label for="file'+ i +'" class="btn">Add @if (i == 0) { <span> main </span> }photo</label>*@
        <input id="file2" type="file" name="upload2" accept="image/*" />
    </div>
</div>

<div class="form-group">
    <div class="control-label col-md-2"> Add photo </div>
    <div class="col-md-10">
        @*<label for="file'+ i +'" class="btn">Add @if (i == 0) { <span> main </span> }photo</label>*@
        <input id="file3" type="file" name="upload3" accept="image/*" />
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
